{
    "control":[
        { "VTOY_DEFAULT_SEARCH_ROOT": "/" }
    ],
    "theme":{
        "file":[
            "/ventoy/theme/1172005thinh/theme_light1610_htc.txt",
            "/ventoy/theme/1172005thinh/theme_dark1610_htc.txt",
            "/ventoy/theme/1172005thinh/theme_light1610_fb.txt",
            "/ventoy/theme/1172005thinh/theme_dark1610_fb.txt",
            "/ventoy/theme/1172005thinh/theme_light1610_gh.txt",
            "/ventoy/theme/1172005thinh/theme_dark1610_gh.txt"
        ],
        "gfxmode": "1920x1200",
        "ventoy_left": "76%",
        "ventoy_top": "95%",
        "ventoy_color": "#3B3B39",
        "fonts":[
            "/ventoy/font/cascadia-code/cascadia-code_16.pf2",
            "/ventoy/font/cascadia-code/cascadia-code_20.pf2",
            "/ventoy/font/cascadia-code/cascaida-code_24.pf2",
            "/ventoy/font/cascadia-code/cascadia-code_28.pf2"
        ]
    },
    "menu_alias":[
        {
            "image": "/Windows/Windows11/w11.iso",
            "alias": "Windows 11"
        }
    ],
    "menu_tip":{
        "left": "28%",
        "top": "11%",
        "color": "#CDCDCD",
        "tips":[
            {
                "image": "/Windows/Windows11/w11.iso",
                "tip": "Auto-pilot Windows 11 Installation"
            }
        ]
    },
    "menu_class":[
        {
            "key": "w11",
            "class": "windows"
        },
        {
            "key": "w10",
            "class": "windows"
        }
    ],
    "auto_install":[
        {
            "image": "/Windows/Windows11/w11.iso",
            "template":[
                "/full_dyn_C_D.xml",
                "/full_C_D.xml",
                "/full_C.xml",
                "/full_mandisk.xml",
                "/noapps_dyn_C_D.xml",
                "/noapps_C_D.xml",
                "/noapps_C.xml",
                "/noapps_mandisk",
                "/nodrivers_dyn_C_D.xml",
                "/nodrivers_C_D.xml",
                "/nodrivers_C.xml",
                "/nodrivers_mandisk.xml"
            ],
            "timeout": 10,
            "autosel": 1
        }
    ]
}
